.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: stretch; margin: 40px;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  width: 40vw;
}
li {
  list-style-type: none;
}
li > a {
  text-decoration: none;
  color: black;
  align-content: left;
}
.container { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; align-items: start;}
.header { grid-column: 1/ span 3; font-size: 52pt; font-family: Verdana, Geneva, Tahoma, sans-serif; margin: 40px; font-weight: bolder;}
div.gridcontainer1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  justify-items: stretch;
  justify-content: left; 
}

div.gridcontainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  justify-items: stretch;
  justify-content: left; 
}
div.gridcontainer3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
  justify-content: left; 
}
.cell1 {
  grid-column: 1/ span 2;
  padding: 20px;
  font-size: 52px;
  text-align: left; font-family: Arial, Helvetica, sans-serif;
}

.cell2 {
  text-align: left;
  padding: 20px;
  margin: 10px; 
}
.cell3 {
  text-align: start;
  padding: 20px;
  margin: 10px;
}
.cell4 {
  text-align: start;
  padding: 20px;
  margin: 10px;
}
.cell5 {
  text-align: start;
  padding: 20px;
  margin: 10px;
}
.cell6 {
  text-align: start;
  padding: 20px;
  margin: 10px;
}
.cell7 {
  text-align: start;
  padding: 20px;
  margin: 10px;
}

.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  width: 50%;
}

.product1 {
  position: relative;
  height: 720px;
  left: 0%;
  right: 0%;
}
.product2 {
  position: relative;
  height: 480px;
  left: 0%;
  right: 0%;
}

.product3 {
  position: relative;
  height: 673px;
  left: 0%;
  right: 0%;
}

.cell4 {
  position: relative;
  left: 0%;
  right: 0%; top: -30%;
}
.product4 {position: relative;
  height: 539px;}

.product5 {
  position: relative;
  height: 484px;
  left: 0%;
  right: 0%;
}

.cell7 {
  position: relative;
  height: 598px;
  left: 0%;
  right: 0%; top: -40%;
}
.product6 {position: relative;
  height: 598px;}

.button { background-color: black;
  border: none;
  color: aliceblue;
  padding: 15px 32px;
  position: relative; left: 5%;
  display: inline-block;
  text-align: center;
  font-size: 14px; margin: 50px;}

  .containerbottom { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr 1fr 1fr; align-items: start ; background-color: rgb(249, 246, 243); height: 500px; text-align: left; padding: 10%;}
.title { grid-column: 1/ 3; grid-row: 1/ 5; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 24pt; font-weight:lighter; margin-right: 40%; margin-left: 5%; margin-top: 5%;}
.description { grid-column: 3/ 5; grid-row: 1/ 3; margin-top: 10%; margin-bottom: 5%; margin-left: 15%; }
.number { font-size: 66pt; text-align: center; margin: 30%;}
.averages { text-align: center;}